{% extends 'template.html.twig' %}

{% block body %}

  <!-- Description Compétence 1 -->
  <section class="prez_compétence_section">
    <div class="container">
      <p>&nbsp;</p>
      <h2 class="custom_heading">Le Droit Public</h2>
      <hr>
      <div class="row layout_padding2">
        <div class="col-md-8">
          <div class="avocat_detail-box">
            <h3>Fonctionnaires et Représentants des établissement publics</h3>
            <p class="mt-4 mb-5">
                Le cabinet AGDZ avocats propose conseils et assistance aux agents publics mais également aux employeurs publics. 
                Nous vous assisterons aussi bien devant les Tribunaux et Cours de l’ordre administratif que devant les Conseils de discipline mais aussi durant dans
                les principaux contentieux de la fonction publique à savoir :

                <ul>
                    <li>Contentieux du recrutement (discrimination, aptitude, concours, examen professionnel, recrutements directs)</li>
                    <li>Contentieux du déroulement de carrière (décharge syndicale, accident de service, maladie professionnelle, harcèlement moral, mutations, détachement, mise à disposition, avancement, notation, mise en disponibilité)</li>
                    <li>Contentieux disciplinaire (suspension de fonction, sanctions disciplinaires telles que l’avertissement, le blâme, l’exclusion temporaire, l’abaissement d’échelon, la rétrogradation, la mise à la retraite d’office, la révocation)</li>
                    <li>Contentieux de la sortie (démission, départ volontaire, abandon de poste, refus de titularisation licenciement pour insuffisance professionnelle, inaptitude physique, mise à la retraite).</li>
                </ul>

                Le cabinet AGDZ avocats intervient également dans les domaines de la police administrative (fermeture administrative, arrêté de péril…), 
                de la fonction publique (titularisation, licenciement, avancement, sanction disciplinaire, accident de service, maladie professionnelle, 
                harcèlement moral…), de l’urbanisme (permis de construire ou d’aménager, déclaration préalable de travaux…)
            </p>
            <div style="text-align: center;"><a href="{{ path('rdv_new') }}" class="custom_blue-btn_rdv mr-3">Prendre rendez-vous en ligne</a></div>
          </div>
        </div>

        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <div class="fruit_img-box d-flex justify-content-center align-items-center">
            <img src="{{ asset('assets/images/competence-droit-public.png') }}" alt="Compétences en Droit Public" class="" width="250px" />
          </div>
        </div>
      </div>
    </div>
</section>

  <!-- Description Compétence 2 -->
  <section class="layout_padding_avocat">
    <div class="container">
      <p>&nbsp;</p>
      <h2 class="custom_heading">Le Droit Privé</h2>
      <hr>
      <div class="row layout_padding2">
        <div class="col-md-8">
          <div class="avocat_detail-box">
            <h3>Pour les particuliers</h3>
            <p class="mt-4 mb-5">
              Nos avocats interviennent tant en conseil qu’en contentieux dans l’ensemble des problématiques liées au droit du travail, droit civil, 
              des personnes et de la famille, de la construction et de l’immobilier.<br><br>

              Ces activités de conseil et de contentieux sont conduites par des avocats formés et expérimentés sur l’ensemble des problématiques
              du droit privé.
            </p>
            <h3>Pour les entreprise du secteur privé</h3>
            <p class="mt-4 mb-5">
              Conscients des enjeux que peuvent représenter les pratiques commerciales, nos avocats vous accompagnent sur tous les aspects
              du Droit des affaires :
              <ul>
                <li>Constitution et rédaction de contrats, </li>
                <li>Statuts et pactes d’associés, cession de parts sociales,</li>
                <li>Achat de fonds de commerce, modification statutaire, dissolution, recouvrement de créances.</li>
              </ul>
              Mais aussi :
              <ul>
                <li>Contentieux social et commercial etc, </li>
                <li>Contrat de prestations de services,</li>
                <li>Conditions générales de ventes et de services,</li>
                <li>Contrat d'agent commercial,</li>
                <li>Contrat de partenariat.</li>
              </ul>
            </p>
            <div style="text-align: center;"><a href="{{ path('rdv_new') }}" class="custom_blue-btn_rdv mr-3">Prendre rendez-vous en ligne</a></div>          
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <div class="fruit_img-box d-flex justify-content-center align-items-center">
            <img src="{{ asset('assets/images/competence-droit-prive.png') }}" alt="Compétences en Droit Privé" class="" width="250px" />
          </div>
        </div>
      </div>
    </div>
</section>

  <!-- Description Compétence 3 -->
  <section class="prez_compétence_section">
    <div class="container">
      <p>&nbsp;</p>
      <h2 class="custom_heading">Le Droit Pénal</h2>
      <hr>
      <div class="row layout_padding2">
        <div class="col-md-8">
          <div class="avocat_detail-box">
            <h3>Pour tous</h3>
            <p class="mt-4 mb-5">
              Le cabinet AGDZ défend aussi bien les auteurs d’infractions que les victimes de celles-ci et ce à tous les stades de la procédure et
              vous accompagne auprès des juridictions compétentes.<br><br>

              Pour les auteurs d’infractions, nos avocats vous assistent au stade de l’enquête (audition libre, garde à vue), de l’instruction préparatoire
               (interrogatoire, confrontation, requête en nullité, demande de mise en liberté), du jugement (tribunal de police, tribunal correctionnel, 
               cour d’appel, cour d’Assises), de l’exécution de votre peine (sanction disciplinaire, aménagement de peine).<br><br>
              
              Pour les victimes, le cabinet vous accompagnera du dépôt de plainte jusqu’à la constitution de partie civile par devant l’ensemble des
              juridictions répressive et votre éventuelle indemnisation.
            </p>
            <div style="text-align: center;"><a href="{{ path('rdv_new') }}" class="custom_blue-btn_rdv mr-3">Prendre rendez-vous en ligne</a></div>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <div class="fruit_img-box d-flex justify-content-center align-items-center">
            <img src="{{ asset('assets/images/competence-droit-penal.png') }}" alt="Compétences en Droit Pénal" class="" width="250px" />
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}