
{% extends 'template.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}


{% block body %}
 <section class="prez_compétence_section">
    <div class="container">
     <p>&nbsp;</p>
        <div class="container">
            <div class="row">
                <!--La classe bg-info ajoute un fond bleu à l'élément-->
                 {# <a class="col-2" class="btn btn-xs btn-primary" href={{ path('dossierliste') }} >Vos dossiers</a> #}
                  <div class="col-2" ><a class="btn btn-primary btn-sm" style="background-color: #027182;" href={{ path('dossierliste') }} >Vos Dossiers</a></div>
                <!--La classe bg-warning ajoute un fond jaune à l'élément-->
                <div class="col-8"> <h2 class="custom_heading">Création du Dossier : {{ client }}</h2>
        <hr></div>
                <!--La classe bg-success ajoute un fond vert à l'élément-->
                <div class="col-2"></div>
            </div>
</div>



       
       
        <p>Renseignez le formulaire ci-dessous.</p>
        <div class="row layout_padding2">
            <div class="col-md-2">&nbsp;</div>

          <div class="col-md-8">       
            {{ form_start(form) }}
            
            {{ form_widget(form) }}

            <div style="text-align: center;">
                <button type="submit" class="custom_blue-btn_rdv">Valider</button>
            </div>
            
            {{ form_end(form) }}            
          </div>
          <div class="col-md-3">&nbsp;</div>
        </div>                
    </div>

</section>
{% endblock %}
