<h1>Nouveau contact du site web</h1>

<ul>
    <li>Objet : {{ contact.objet}} </li>
    <li>Type de droit : {{ contact.typededroit}}</li>
    <li>Demandeur : {{ contact.NomPrenom}}</li>
    <li>Telephone : {{ contact.Telephone}}</li>
    <li>email : {{ contact.email}}</li>
    <li>Message : {{ contact.Message}}</li>
</ul>
