{# templates/bundles/TwigBundle/Exception/error.html.twig => page erreur personnalisée#}
{% extends 'base.html.twig' %}
{% block title %}
    Erreur {{status_code}} - {{ parent() }}
{% endblock %}
 
{% block body %}
{#<div class='titre'>{{ titre|trans|raw }}</div>#}
    <div style ="font-weight: Normal;font-size:20px;">
    <br>
    L'administrateur du site vous prie de l'excuser car si vous arrivez sur cette page, c'est qu'il y a une erreur sur ce site (erreur "{{status_code}} {{status_text}}").  </div>
    </div>
    <div  id="cadreliste">
        <ul>
            <li>
                    <a href="#null" onclick="javascript:history.back();">{% trans %}Previous page{% endtrans %}</a>
            </li>
        </ul>
    </div>
{% endblock %}